<div class='story-content story-content-{{index}}'>
	<div class='story-top' data-index='{{index}}'>
		<div class='story-top-bg story-top-bg-{{index}}'>
			<div class='overlay-pattern'></div>
		</div>
		<div class='story-top-next'>Next chapter</div>
		<div class='story-top-text off'>
			<div class='story-top-overline'>Part {{index}}<span></span> of 7</div>
			<div class='story-top-hed'>{{hed}}</div>
		</div>
	</div>
	<div class='story-bottom'>
		<div class='story-content-template'></div>
	</div>
</div>