<div class='story-content template-text hide  story-content-{{index}}'>
	<h2 class='story-content-hed'>{{hed}}</h2>
	<p class='story-content-text'>{{text}}</p>
	<p class='story-content-img'><img src='assets/img/{{img}}'></p>
	<p class='story-content-user'>&mdash;{{user}}</p>
	<div class='story-navigation'>
		<div class='story-navigation-previous hide'>previous chapter &larr;</div>
		<div class='story-navigation-next'>
			<div class='btn'>next chapter &rarr;</div>
		</div>
	</div>
</div>